body {
    margin: 0%;
}


.metro {
    text-decoration: none;
}

.meeting-place {
    text-decoration: none;
}

.main-nav {
    display: flex;
    background-color: rgb(5, 47, 75);
    height: 50px;
}

.main-nav div {
    margin: 13px 10px 12px 10px; 
}

.main-nav a {
    text-decoration: none;
    color: rgb(229, 241, 241);
    font-size: 20px;
}

.main-nav img{
    margin: 7px;
    border-radius: 25px;
}

.marketing {
    margin: 20px;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.hidden{
    display:none;
}

#orange {
    color: orange;
}

#silver {
    color: silver;
}

#red {
    color: red;
}
#blue {
    color: navy;
}

#green {
    color: green;
}





